{% extends 'SvkWelcomeBundle::index.html.twig' %}

{% block title %}<title>Silversmoke | About</title>{% endblock %}

{% block content %}
<div id="about" class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class='about-header'>
				<h1>
					Silversmoke
				</h1>
				<img class="section-separator" src="{{ asset('img/section-separator.png') }}" alt="Quit smoking using a connected electronic cigarette!" width="300px">
				<h4>Quit smoking without the pain & frustration</h4>
			</div>

			<div class="col-md-4">
			<img src="{{ asset('img/woman-electronic-cigarette.jpg') }}" class="img-circle" alt="Quit smoking using a connected electronic cigarette!" width="150px">
			</div>

			<div class="col-md-8">
				<p>
					Silversmoke replaces your traditional cigarettes with an electronic cigarettes connected to your Smartphone. Wit Silversmoke you can instantly see how much nicotine you smoked recently and how quickly you should reduce your consumption. It is the motivation you need to quit smoking!
				</p><p>
				Whether you are a long time user of electronic cigarettes or jsut now thinking of making the switch, you will undoubtedly be seduced by our Starter Kit.</p>
			</div>
		</div>
	</div>

</div>
</div>

{% endblock %}