{% extends 'SvkWelcomeBundle::index.html.twig' %}

{% block title %}<title>Silversmoke | About</title>{% endblock %}

{% block reserve_button %}
<li><a href="{{ path('svk_welcome_homepage') }}#whats-included"><button class='btn btn-success'>Reserve Yours Now - Get 20% off</button></a></li>
{% endblock %}

{% block content %}
<div id="about" class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class='about-header'>
				<h1>
					Silversmoke
				</h1>
				<img class="section-separator" src="{{ asset('img/section-separator.png') }}" alt="Quit smoking using a connected electronic cigarette!" width="300px">
				<h4>Quit smoking without the pain and frustration</h4>
			</div>

			<div class="col-md-4">
				<img src="{{ asset('img/woman-electronic-cigarette.jpg') }}" class="img-circle" alt="Quit smoking using a connected electronic cigarette!" width="150px">
			</div>

			<div class="col-md-8">
				<p>
					Silversmoke replaces your traditional cigarettes with an electronic cigarettes connected to your smartphone. With Silversmoke you can instantly see how much nicotine you smoked recently and how much you should reduce your consumption to meet your goal. It's the motivation you need to reduce or quit smoking!
				</p>
				<p>
					Whether you are a long time user of electronic cigarettes or just now thinking of making the switch, our Starter Pack is for you.
				</p>
			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-md-12">
			<a href="{{ path('svk_welcome_homepage') }}#whats-included"><h4>Reserve your Starter Pack</h4></a>
		</div>
	</div>
</div>

{% endblock %}