{% extends 'SvkWelcomeBundle::index.html.twig' %}

{% block title %}<title>Silversmoke | Contact</title>{% endblock %}

{% block reserve_button %}
<li><a href="{{ path('svk_welcome_homepage') }}#whats-included"><button class='btn btn-success'>Reserve Yours Now - Get 20% off</button></a></li>
{% endblock %}

{% block content %}

<section id="contact" align="center">

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2>Please contact us if you have any question or query</h2>
	
		<div>
			{% render(controller('SvkWelcomeBundle:Welcome:contactForm')) %}	
		</div>
		
	  </div>
	</div>
  </div>

</section>

{% endblock %}