<form action="{{ path('svk_welcome_contact_form') }}" method="post" {{ form_enctype(form) }}>
	{{ form_errors(form) }}

	<div>
		<input type="text" id="form_name" name="form[name]" required="required" placeholder="Enter your name" style="width: 300px; margin-top: 20px"/>
	</div>
	<div>
		<input type="email" id="form_email" name="form[email]" required="required" placeholder="Enter your email" style="width: 300px; margin-top: 20px"/>
	</div>

	<div>
		<textarea id="form_message" name="form[message]" required="required" placeholder="Leave your message here" style="width: 300px; height: 100px; margin-top: 20px;"/></textarea>
	</div>

	{{ form_widget(form._token) }}

	<input class="btn btn-success" type="submit" value="Send message" style="margin: 20px;"/>
</form>