*{
	font-family: 'Proxima-regular';
}

body { padding-top: 60px; }

h2{
	font-family: "Proxima-light";
}

.navbar-nav > li > a {
	line-height:30px;
	padding-bottom:10px;
	padding-top:15px;
}

.navbar-default{
	background-color: rgb(254,254,254);
}

#homescreen{
	background-image: url('../img/homescreen-bck.png');
	background-repeat: no-repeat;
	background-position: 50% 0%;
	min-height: 570px;
	background-color: rgb(254,254,254);
	color: rgb(115,124,147);
	border-bottom: dashed 4px rgba(115,124,147,0.3)
}

#homescreen h3{
	font-family: "Proxima-light";
	color:rgb(168,174,187);
	margin: 40px auto;
}

#how-it-works{
	min-height: 300px;
}

#how-it-works .col-md-3{
	min-height: 180px;
	color: white;
	position: relative;
	padding: 90px 0px;
	text-align: center;
	position: relative;
	height: 200px;
	overflow: hidden;
}

.usp1{
	background-color: rgb(182, 59, 106);
}

.usp1 >div,.usp2 >div,.usp3 >div,.usp4 >div{
	position: absolute;
}

.usp1 .usp1-1,.usp2 .usp2-1,.usp3 .usp3-1,.usp4 .usp4-1{
	top:0px;
}

.usp1 .usp1-2,.usp2 .usp2-2,.usp3 .usp3-2,.usp4 .usp4-2{
	top:200px;
}

.usp1 .usp1-1 font,.usp2 .usp2-1 font,.usp3 .usp3-1 font,.usp4 .usp4-1 font{
	position: absolute;
	width: 240px;
	top: 80px;
	left: 20px;
}

.usp1 .usp1-1 img{
	position: absolute;
	width: 150px;
	top: 120px;
	left: 65px;
}



.usp2{
	background-color: rgb(241,60,110);
	position: relative;
}

.usp2 img{
	position: absolute;
	width: 100px;
	top: 130px;
	left: 90px;
}

.usp3{
	background-color: rgb(246, 119,44);
	position: relative;
}

.usp3 img{
	position: absolute;
	width: 120px;
	top: 120px;
	left: 90px;
}

.usp4{
	background-color: rgb(255,187,66);
	position: relative;
}

.usp4 img{
	position: absolute;
	width: 100px;
	top: 130px;
	left: 90px;
}

.usp-number{
	position: absolute;
	top:0;
	left:0;
	font-size: 30px;
	padding:10px 30px;
}

.usp1 .usp-number{
	background-color: rgb(156,36,74);
}

.usp2 .usp-number{
	background-color: rgb(222,39,81);
}

.usp3 .usp-number{
	background-color: rgb(242,94,30);
}

.usp4 .usp-number{
	background-color: rgb(255,167,47);
}



/*---MONITOR---*/

#monitor{
	background-color: rgb(251,251,251);
	min-height: 300px;
}

#monitor .col-md-6{
	margin: 40px 0px;
	height: 80%;
	color:white;
}

#monitor .col-md-6.desc{
	height: 450px;
}


#monitor .col-md-6.desc .desc-header{
	background-color: rgb(26, 188, 156);
	height: 20%;
}

#monitor .col-md-6.desc .desc-header h2{
	margin: 0px;
	padding: 20px 10px;
}

#monitor .col-md-6.desc .desc-body{
	background-color: rgb(79,79,79);
	height: 80%;
	font-size: 18px;
	padding: 10px;
}

#monitor table{
	margin-top: 30px;
	font-size: 14px;
	width: 100%;
}

#monitor table td{
	height: 60px;
}


#monitor table div{
	width: 200px;
	display: inline-block;
	text-align: left;
	font-family: "Proxima-light";
	vertical-align: middle;
}

#monitor table .monitor-table-icon{
	width: 50px;
	text-align: center;
}

#monitor table img{
	margin-right: 20px;
	vertical-align: baseline;
}



/*-- CONSUMPTION CAP ---*/

#consumption-cap{
	background: none repeat scroll 0 0 #EFEFEF;
	min-height: 500px;
	position: relative;
	box-sizing:border-box;
}

#consumption-cap .cap-desc{
	margin-top: 70px;
	box-sizing:border-box;
}

#consumption-cap .col-md-6.iphone-screenshot{
	margin-top: 70px;
	box-sizing:border-box;
}

#consumption-cap p{
	font-size: 18px;
}

#consumption-cap .iphone-screenshot{
	position: relative;
	padding-left: 100px;
	height: 500px;
}

#consumption-cap .iphone-screenshot img{
	width: 350px;
	position: absolute;
	bottom: 0px;

}

#consumption-cap .progress-container{
	width: 90%;
	margin:20px auto;
}

#consumption-cap .progress {
	-webkit-box-shadow:rgba(0, 0, 0, 0.0) 0 1px 2px inset;
	background-color: white;
	min-height: 30px;
	width: 100%
}

#consumption-cap .progress-bar {
	background-color: #FFBB42;
	box-shadow: none;
	text-align: right;
	padding-right: 10px;
	padding-top: 4px;
}

#consumption-cap .progress-bar.progress-top, #consumption-cap .progress.progress-top{
	background-color: transparent;
	box-shadow: none;
	text-align: right;
	color: rgb(60,60,60);
	margin-bottom: 0px;
}

#consumption-cap .progress.progress-top span{
	padding: 4px;
	border-right: solid 1px rgb(60,60,60);
}

#consumption-cap .percent-container{
	text-align: center;
}

#consumption-cap .percent{
	margin:20px 20px;
	text-align: center;
	background-color: white;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	padding-top: 15px;
	font-size: 20px;
	line-height: 20px;
	color:rgb(69,139,202);
	display: inline-block;
	color:#F13C6E;
}

#consumption-cap .percent div{
	border-top:1px dotted #CCCCCC;
	vertical-align: top;
	margin-top: 5px;
	padding-top: 4px;
}

#consumption-cap .percent .goal{
	color:rgb(143,143,143);
	font-size: 12px;

}
#consumption-cap .percent .goal-figure{
	color:#000;
}



/*---TWEET---*/

#tweet{
	min-height: 300px;  
	border-bottom-color:rgba(115, 124, 147, 0.298039);
	border-bottom-style:dashed;
	border-bottom-width:4px;
}

#tweet .tweet{
	margin-top: 60px;
}

#tweet .tweet-progress{
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #EEEEEE #DDDDDD #BBBBBB;
	border-image: none;
	border-radius: 5px 5px 5px 5px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	display: block;
	margin: 40px 0;
	max-width: 99%;
	min-width: 220px;
	padding: 0;
	visibility: visible;
	box-sizing:border-box;
	position: relative;
	background-color: white;
}

#tweet .tweet-header{
	padding: 10px;
}

#tweet .tweet-header div{
	display: inline-block;
	padding: 0px 0px;
}


#tweet .tweet-header .tweeter-name{
	position: absolute;
	top:15px;
	left: 80px

}

#tweet .tweet-header .tweeter-button{
	float:right;

}

#tweet .tweet-body,#tweet .tweet-body a{
	padding: 10px 10px;
	font: 18px/24px Georgia,"Times New Roman",Palatino,serif;
}

#tweet .tweet-footer{
	border-top: 1px solid #E8E8E8;
	text-align: right;
	margin: 0px 10px;
}

#tweet .tweet-footer span{
	padding: 5px 10px;
}

#tweet .tweet-desc{
	margin-top: 80px;
	height: 500px;
}


/*COMPETITION*/


#competition{
	min-height: 600px;
	padding: 100px 0px;
	background-color:#FBFBFB;
}

#competition .col-md-6.desc{
	background-color: #FFA72F;
	color: #fff;
	padding-right: 0px;
	padding-left: 0px;
}

#competition h2{
	margin: 0px;
	padding: 20px;
	text-align: center;
}

#competition .col-md-6.desc {
	background-color: #FFBB42;
	color: #fff;
}

#competition .col-md-6.desc .desc-body{
	margin-top: 30px;
}

#competition .col-md-6.desc .desc-body div{
	display: inline-block;
}

#competition .col-md-6.desc .iphone-competition-desc{
	background-color: #FFA72F;
	padding: 40px 20px;
	margin-left: 10px;
	width: 50%;
	margin-top: 20%;
}

#competition .col-md-6.desc .iphone-competition{
	width: 40%;
	float: right;
	margin-right: 10px;
}


/*PARALLAX*/

#parallax{
	height: 450px;
	background-image: url(' ../img/brunette-smartphone.png');
	background-repeat:no-repeat;
}

#parallax .col-md-4{
	background-color: rgba(255,255,255, 0.6);
	margin-top: 100px;
	padding: 10px;
}


/*REWARD SECTION*/

#reward-section{
	text-align: center;
	min-height: 400px;
	padding: 30px 0px;
	background-color:#EFEFEF;
}

#reward-section h2{
	margin-bottom: 50px;
}


#reward-section h5{
	margin-top:30px;
	margin-bottom:20px;
	text-align: left;
	margin-left:40px;
}

#reward-section .badge-container{
	background-color:#FFF;
	padding-bottom: 30px;
	border-radius: 5px;
	border:1px dotted #CCCCCC;
	margin-bottom: 30px;
}



/*CIG-SPEC*/

#cig-spec{
	min-height: 300px;
	border-bottom-color:rgba(115, 124, 147, 0.298039);
	border-bottom-style:dashed;
	border-bottom-width:4px;
	text-align: center;
}

#cig-spec .device-pic{
	margin: 80px 0px;
}

#cig-spec .container{
	padding-bottom: 80px;
}

#cig-spec .col-md-12 .item{
	width: 100px;
	height: 100px;
	background-color: #B63B6A;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}


#cig-spec .col-md-12 li{
	text-align: left;
	padding-left: 20px;
}


#cig-spec .col-md-12 .item.item-1 span{
	position: absolute;
	top: 15px;
	left: 45px
}

#cig-spec .col-md-12 .item.item-2 span{
	position: absolute;
	top: 25px;
	left: 22px
}

#cig-spec .col-md-12 .item.item-3 span{
	position: absolute;
	top: 15px;
	left: 25px
}


#cig-spec .col-md-12 .item.item-4 span{
	position: absolute;
	top: 15px;
	left: 25px
}

/*WHATS INCLUDED*/

#whats-included{
	min-height: 500px;
	background-color: #FBFBFB;
}

#whats-included .container .row .col-md-8{
	margin-top: 140px;
	margin-bottom: 100px;
	border: dotted 1px #CCCCCC;
	border-radius: 5px;
	width: 100%;
	height: 100%;
	background-color: white;
	padding: 20px;
}

#whats-included .logo{
	position: relative;
	text-align: center;
	margin-bottom: 100px;

}

#whats-included .logo img{
	position: absolute;
	margin: 0px auto;
	border: dotted 1px #CCCCCC;
	border-radius: 50%;
	background-color: white;
	top:-110px;
	left:42%;
}

#whats-included h2{
	text-align: center;
	padding-bottom: 30px;
}

#whats-included .package-content{
	border-right: dotted 1px #CCCCCC;
}

#whats-included h2, #whats-included .col-md-6 > div > div{
	margin: 10px 0px;
}

#whats-included .col-md-6 .item{
	display: inline-block;
	width: 100px;
	height: 100px;
	background-color: #B63B6A;
	border-radius: 5px;
}

#whats-included .col-md-6 .item-1 img{
	margin-top: 15px;
	margin-left: 40px;
}

#whats-included .col-md-6 .item-2 img{
	margin-top: 25px;
	margin-left: 22px;
}


#whats-included .col-md-6 .item-4 img, #whats-included .col-md-6 .item-3 img{
	margin-top: 15px;
	margin-left: 25px;
}

#whats-included .col-md-6 .item-desc{
	display: inline-block;
	vertical-align: top;
	margin-left: 20px
}


#whats-included .order-today{
	text-align: center;
}

#whats-included .order-today >div{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20%;
	margin-top: 50px;
}

#whats-included .input-group{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#whats-included .input-group input{
	margin: 10px auto;
}


#whats-included .input-group button{
	margin-top: 30px;
}